* {
    font-family: "Roboto", sans-serif;
    bordersizing: border-box;
}
body {
    background-color: #f6f8fc;
    margin: 0;
}
.content {
    padding: 1rem;
    background-color: white;
    height: auto;
    width: auto;
}
.content h1 {
    margin: 0;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
